.formacao {
	margin: 0 1rem;
	letter-spacing: 0em;
	text-align: left;

}

@media screen and (min-width: 768px) {
	.formacao {
		width: clamp(14rem, 29%, 368px);
		margin: 0;
	}

	.formacao.primeiro {
		
	}

}

