.skills {
	background-color: #E5E5E5;

	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	padding: 1rem;

	font-family: Raleway;

}

@media screen and (min-width: 768px) {
	.skills {
		justify-content: space-around;
		padding-bottom: 88px;
		padding-top: 2rem;
	}
}

@media screen and (min-width: 1440px) {
	.skills {
		display: flex;		
		justify-content: center;
		gap: 1rem;
		padding: 2rem 152px 2rem;
	}
}
