.contato__formulario {

}

@media screen and (min-width: 1440px) {
	.contato__formulario {
		background-image: url(../../img/contato.png);
		background-repeat: no-repeat;
		background-size: 464px 593px;
	}
}