.hero__descricao {

	color: #464646;
	font-family: 'Raleway';
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 16px;
}

@media screen and (min-width: 1440px) {
	.hero__descricao {
		font-weight: 400;
		font-size: 22px;
		line-height: 26px;
	}
}