.hero__img-container {
	text-align: center;
}

.hero__img {
	border-radius: 100%;
	width: 98px;
	height: 98px;
}

@media screen and (min-width: 768px){
	.hero__conteudo-container {
		display: flex;
		flex-wrap: wrap;
		gap: 32px;
	}

	.hero__img {
		width: 146px;
		height: 146px;
	}

}

@media screen and (min-width: 1440px) {
	.hero__img {
		width: 368px;
		height: 368px;
	}

	.hero__conteudo-container {
		gap: 0;
		justify-content: space-between;
	}
}
