.contato__mensagem-titulo {
	color: #464646;
	font-family: Raleway;
	font-size: 22px;
	font-weight: 700;
	line-height: 26px;
	letter-spacing: 0em;
	text-align: left;
	margin-bottom: 8px;

}

@media screen and (min-width: 1440px) {
	.contato__mensagem-titulo {
		font-size: 32px;
		line-height: 38px
	}
}
