.logo__nome {

	color: #464646;
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 700;
	font-size: 0.5rem;
	line-height: 19px;
	text-align: center;
	padding-top: 2.5px;
}

@media screen and (min-width: 768px) {
	.logo__nome {
		font-size: 1rem;
	}
}