.sobre__titulo {
	margin-bottom: 1rem;
	font-size: 22px;
	font-weight: 700;
	line-height: 26px;
	letter-spacing: 0em;
	text-align: left;

}

@media screen and (min-width: 1440px) {
	.sobre__titulo {
		font-size: 32px;
		line-height: 38px;
	}
}
