.sobre__descricao {
	height: auto;
	color: #464646;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0em;
	line-height: 16px;
	text-align: left;

}

@media screen and (min-width: 1440px) {
	.sobre__descricao {
		font-size: 19px;
		line-height: 22px;
	}
}
